html * {
    box-sizing: inherit;
}

body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

.list{
    list-style: none;
}

.pricing{
    padding-top: 101px;
    padding-bottom: 216px;

    border: 1px solid blue;

}

.pricing-container{
    width: 932px;
    margin: 0 auto;
}

.pricing-title{
    margin-bottom: 257px;

    font-size: 36px;
    font-weight: 600;
    line-height: 2.23;


    text-align: center;
}

.pricing-list{
    display: flex;
    gap: 60px;
}

.pricing-list-item:nth-child(2){
    margin-left: 45px;
    margin-right: 80px;
}